* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 11rem 240px 2.4rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.7rem;
  color: #000000;
  font-family: "PT Serif", serif;
}

header article {
  max-width: 40rem;
}

header article h4 {
  margin-bottom: 0.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

header article p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

footer {
  text-align: center;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #A9A9A9;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8rem 5rem;
  padding-bottom: 11.5rem;
  padding-top: 9.6rem;
}

.images__item {
  max-width: 23.8rem;
  position: relative;
}

.images__item img {
  width: 100%;
}

.images__item span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000000;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: -2.2rem;
  z-index: 1;
}

.images__item p {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.images__item:nth-child(2),
.images__item:nth-child(5) {
  padding-top: 6.8rem;
}

.images__item:nth-child(2) span,
.images__item:nth-child(5) span {
  padding-top: 6.8rem;
}

@media (max-width: 376px) {
  section {
    padding: 7.1rem 1.2rem 2.4rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.8rem;
  }

  header article p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
  }

  .images {
    padding: 3.6rem 0 13.4rem;
    gap: 0;
    -webkit-column-gap: 2.7rem;
       -moz-column-gap: 2.7rem;
            column-gap: 2.7rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }

  .images__item {
    max-width: 15.5rem;
  }

  .images__item span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    right: -1.5rem;
  }

  .images__item p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
  }

  .images__item:nth-child(5) {
    padding-top: 1rem;
  }

  .images__item:nth-child(5) span {
    padding-top: 1rem;
  }

  .images__item:nth-child(2),
  .images__item:nth-child(4),
  .images__item:nth-child(6) {
    padding-top: 5rem;
  }

  .images__item:nth-child(2) span,
  .images__item:nth-child(4) span,
  .images__item:nth-child(6) span {
    padding-top: 5rem;
  }
}